# Folders
build/
output/
devel/

# Python
__pycache__/

# Machine Learning
checkpoints/
*.npz
*.h5

# CMake and make
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# Files
*.out
*.exe
*.exec
*.Identifier

# Others
.vscode
.DS_Store
.cache
